export( getAtlasExperiment, getAtlasData, searchAtlasExperiments )
import( Biobase, SummarizedExperiment, limma, methods, XML )
importFrom( S4Vectors, SimpleList, DataFrame )
importFrom( httr, status_code, httr::content )
