export( getAtlasExperiment, getAtlasData, searchAtlasExperiments )
import( SummarizedExperiment, limma, methods, XML )
importFrom( S4Vectors, SimpleList, DataFrame )
inportFrom( httr, status_code, content )
